@page "/counter"
@inject SingletorService singelton
@inject TransitionService transition


<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Current count sogeltp: @singelton.number</p>
<p>Current count transotopm: @transition.number</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@code {
    private int currentCount = 0;

   


    [JSInvokable]
   public async Task IncrementCount()
    {
        currentCount++;
        singelton.number++;
        transition.number++;
    }



    [JSInvokable]
    public static Task<int> GetCurrecntCount()
    {
        return Task.FromResult(CurrentCountStatic);
    }




}
