@page "/"


<input type="checkbox" @onchange="(()=> displayButtons =!displayButtons)" />

@if (displayButtons)
{
 <div>
     test
 </div>
    
}


@code
       {

    bool displayButtons = false;
     }