<h3>Add Task to Remote Hand List </h3>
<div class="input-group flex-nowrap">
  <input type="text" class="form-control" placeholder="Client" aria-label="Client" aria-describedby="addon-wrapping">
  <input type="text" class="form-control" placeholder="Case" aria-label="Case" aria-describedby="addon-wrapping">
  <input type="text" class="form-control" placeholder="Aria" aria-label="Aria" aria-describedby="addon-wrapping">
  <input type="text" class="form-control" placeholder="Location" aria-label="Location" aria-describedby="addon-wrapping">
  <input type="text" class="form-control" placeholder="Task" aria-label="Task" aria-describedby="addon-wrapping">
  <input type="text" class="form-control" placeholder="Details" aria-label="Details" aria-describedby="addon-wrapping">
  <input type="text" class="form-control" placeholder="Support" aria-label="Support" aria-describedby="addon-wrapping">
  <input type="text" class="form-control" placeholder="Networking" aria-label="Networking" aria-describedby="addon-wrapping">
  <input type="text" class="form-control" placeholder="Remote Hands" aria-label="Remote Hands" aria-describedby="addon-wrapping">
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" onclick="@add">Add</button>
  </div>
</div>
@code {
    @using Data;
    public List<ClassRH> ListofRemote;
    public Demo listdemo = new Demo();



    public void add()
    {
        ListofRemote = listdemo.DemoRH();
        ClassRH addrequest = new ClassRH() {id=1, Clinet="GT",Location="NY2",Area="EUROPE" , Case="GTC-123451-1SA35D", Task="REPLACE HDD", Details="BROKEN HDD", Instruction="REMOVE OLD ADD NEW ONE TURN ONE THE SERVER", status="", Support="SUPPORT", Networking="JB", RemoteHand="B612", Date_Added=DateTime.Parse("10/15/2017"), Data_work=DateOnly.ParseExact("1/7/2022" , "MM/dd/yyyy")};

        ListofRemote.Add(addrequest);
        Index indexx = new Index();
        indexx.page();



    }
        
}
