<h3>Calendar</h3>


@DayMonthC
<section style="display:grid; grid-template-columns: repeat(7, 1fr); grid-gap: 10px;">
    @for(int i = 1; i<= dayinmon.Day; i++)
    {
        <div style="border: 1px solid black;">@i</div>
    }

</section>



@code {


    public DateOnly DayNowC;
    public string DayMonthC;
    public int dumdays;
    public DateOnly dayinmon;

    protected override void OnInitialized()
    {
        DayNowC =new  DateOnly( DateTime.Today.Year , DateTime.Today.Month, 1 );
        dayinmon = DayNowC.AddMonths(1).AddDays(-1);

        DayMonthC = DayNowC.Month switch
        {
            1 => "January",
            2 => "February",
            3 => "March",
            4 => "April",
            5 => "May",
            6 => "June",
            7 => "July",
            8 => "August",
            9 => "September",
            10 => "October",
            11 => "November",
            12 => "December",
            _ => ""
        };
        dumdays = (int)DayNowC.DayOfWeek;
    }


}
