@page "/"
Remote Hand List for @friday

<table class="table table-striped table-hover">
    <thead>
  <tr class="table-active">
    <td class="table-primary">Client</td>
    <td class="table-primary">Location</td>
    <td class="table-primary">Case</td>
    <td class="table-primary">Task</td>
    <td class="table-primary">Details</td>
    <td class="table-primary">Instruction</td>
    <td class="table-primary">Status</td>
    <td class="table-primary">Tested</td>
    <td class="table-primary">Support</td>
    <td class="table-primary">Networking</td>
    <td class="table-primary">Remote Hands</td>
    <td class="table-primary">Date Added</td>
   </tr>
   </thead>
   <tbody>
   <tr>
    <td scope="row">GT</td>
    <td class="">Ny4</td>
    <td class="">GTC-63568-M8G0T1</td>
    <td class="">Replace HDD</td>
    <td class="">Remove hdd from...</td>
    <td class="">....</td>
    <td class="">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
  @foreach(string stat in status_lab)
                    {
                        <option value="@stat">@stat</option>
                    }
                </select>
</td>
    <td class="">Tested</td>
    <td class="">Test</td>
    <td class="">ADAM</td>
    <td class="">Mark GPS</td>
    <td class="">@data</td>
   </tr>
  
  </tbody>
</table>



@code{
    public int friday;
    public DateOnly data =new DateOnly( DateTime.Today.Year , DateTime.Today.Month, DateTime.Today.Day);


    public List<string> status_lab = new List<string>() {"Pending", "Sent", "Provided", "Tested", "Notified", "Completed", "Delayed"};

    public int DayOfwork()
    {
        return friday = 10; 
    }
}
