

<span id="myBtn" @onclick="click" >@name</span>


<div id="model" class="modal" @onclick="popclose" style="@styll">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" @onclick="popclose">&times;</span>
    <p style="white-space: pre-line">@text</p>
  </div>

</div>



@code {
    [Parameter]
    public string text { get; set; }
    [Parameter]
    public string name { get; set; }  = "none";

    public string styll = "display: none";
    

    private async Task click()
    {
        //JS.InvokeVoidAsync("Modal", modal);
        styll = "display: block";
    }
    public void popclose()
    {
        styll = "display: none";

    }
}
