@page "/"
<h1>Hello, world!</h1>
@inject  IJSRuntime IJSRuntime



<div id="container">

    <div class="select">
        <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
    </div>

    <div class="select">
        <label for="audioOutput">Audio output destination: </label>
    </div>

    <div class="select">
        <label for="videoSource">Video source: </label><select ie="VideoCaptureDevice"></select>
    </div>
    <span @bind="VideoCaptureDevice" />
    <video id="" ></video>
    
    
</div>




@code{

    private async Task camera ()
    {
        await IJSRuntime.InvokeVoidAsync("start");
    }


}
