@inherits LayoutComponentBase

<PageTitle>RemoteHand</PageTitle>

<div class="page">
   

    <main>
        <div class="top-row px-4 auth">
            
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
