@page "/"
@inject IJSRuntime SRuntime

<h1>Hello, world!</h1>
<div id="container">
    <div class="select">
        <label for="audioSource">Audio input source: </label><select id="audioSource" ></select>
    </div>

    <div class="select">
        <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
    </div>

    <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
   
    <video id="video" playsinline autoplay></video>
    <video controls="controls" autoplay>
        <source src="audiosource" id="video" type="video/mp4" />
    </video>

</div>

@code
{
    public async Task audiosource()
    {
         await SRuntime.InvokeAsync<object>("video");
    }


}