

@inject IJSRuntime JSRuntime





<button @onclick="OpenModal">Open</button>

@* 👇 Use @ref to keep a reference to the html element in order to use it in JS
        <dialog @ref="_element">My modal</dialog>

    <dialog @ref="_element1" style="position: absolute; top: 1px; right: 1px; ">My modal 2</dialog>

*@

<dialog @ref="_element">My modal</dialog>

@code {
    private ElementReference _element;



    private async Task OpenModal()
    {
        // 👇 Call the JS function with the html element (dialog) as parameter
        await JSRuntime.InvokeVoidAsync("blazorOpenModal", _element);
    }
}

