@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
@test
<EditForm Model="@exampleModel" >
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="exampleModel.Name" />

    <button type="submit">Submit</button>
</EditForm>

@code{
@using System.ComponentModel.DataAnnotations;


    private ExampleModel exampleModel = new();
    public string test;

    public class ExampleModel
    {
        [Required]

        [StringLength(18, ErrorMessage = "Name is too long.")]
        [Customer(ErrorMessage ="noooooo")]
        public string Name { get; set; }
    }

    [MetadataType(typeof(ExampleModel))]
    public partial class Customer : ValidationAttribute
    {
        public bool my { get; set; }

        public override bool IsValid(object value)
        {
            string imput = value as string;
            if ( imput[0]=='2')
                {
                return true;
                }

            return false;
        }
    }

    }
    