@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


<input type="text" @bind="test.test2" ParsingErrorMessage/>



<Errortest />
@code{
    @using System.ComponentModel.DataAnnotations;
    @using System.Globalization
    public string test1 = "100.100.100.1";

    public class test
    {


        [Required(ErrorMessage = "Genre must be specified")]
        public static String test2 { get; set; } = "tti hest ti ";
    }


}