@using Microsoft.Extensions.Logging
@using Shared
<h3>ListofIPS</h3>


<ol>
    fffff
    <li>
        test1
        <ul>
            <li>
                test3
                <ul>
                    test4
                    <li>
                        TEST5
                        <ul>TEST6</ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Test1</li>
</ol>

<ul>
    a
    <ul>1</ul>
    <ul>2</ul>
    <ul>
        3
        <ul>
            5
            <ul>4</ul>
        </ul>
    </ul>
</ul>



<input class="form-check-input" type="checkbox" value="True" id="We test this " @onclick="onclikc" name="@test">10.0.0.0/8

@if (@test)
{

    <ul>10.10.0.0/9</ul>
    <ul>10.20.0.0/9</ul>
    <ul>10.30.0.0/9</ul>
    <ul>
        <input class="form-check-input" type="checkbox" id="TREE3" @onclick="onclikc1" name="@test1">10.40.0.0/9
        @if (@test1)
        {
            <li>
                <ul>10.40.10.0/10</ul>
                <ul>10.40.20.0/10</ul>
                <ul>10.40.30.0/10</ul>

            </li>

        }

    </ul>
}
    



@code {
    public classa_test a = new classa_test();

    public bool test1;
    public bool test;

    public void on()
    {
        a.pod=!a.pod;

    }
    
    public void onclikc()
    {
        test = !test;
        
    }
    public void onclikc1()
    {
        test1 = !test1;
    }

}
