@using Microsoft.Extensions.Logging

<h3>ListofIPS</h3>
<ol>
    fffff
    <li>
        test1
        <ul>
            <li>
                test3
                <ul>
                    test4
                    <li>
                        TEST5
                        <ul>TEST6</ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Test1</li>
</ol>

<ul>
    a
    <ul>1</ul>
    <ul>2</ul>
    <ul>
        3
        <ul>
            5
            <ul>4</ul>
        </ul>
    </ul>
</ul>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> aa
<classa_test ip="aaa" />
<input class="form-check-input" type="checkbox" value="1 id="defaultCheck1">


<ul>
    <li>
        <input class="form-check-input" type="checkbox" value="1 id="Te" name="test" >
        
        <ul>tree</ul>
        <ul>tree2</ul>
        <ul>tree</ul>
        <ul><input class="form-check-input" type="checkbox" value="1 id="TREE3"><li>Terst</li></ul>

    </li>
</ul>




@code {
    public int test;


}
