@inject IJSRuntime JS

<h3>Treetest</h3>

TEST TEST TEST TETS TSTETES
<ul id="myUL">
    <li>
        <span class="caret">Beverages</span>
        <ul class="_nested">
            <li>Water</li>
            <li>Coffee</li>
            <li>
                <span class="caret">Tea</span>
                <ul class="_nested">
                    <li>Black Tea</li>
                    <li>White Tea</li>
                    <li>
                        <span class="caret">Green Tea</span>
                        <ul class="_nested">
                            <li>Sencha</li>
                            <li>Gyokuro</li>
                            <li>Matcha</li>
                            <li>Pi Lo Chun</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

TEST TEST TESTETSTE
@code {
    private ElementReference _nested;

    private async Task OpenModal()
    {
        // 👇 Call the JS function with the html element (dialog) as parameter
        await JS.InvokeVoidAsync("tree", _nested);
    }
}
