@inject IJSRuntime JS

<h3>Treetest</h3>

TEST TEST TEST TETS TSTETES
<code>tree</code>
<ul id="myUL">
    <li>
        <span class="@_caret">Beverages</span>
        <ul class="_nested">
            <li>Water</li>
            <li>Coffee</li>
            <li>
                <span class="@_caret">Tea</span>
                <ul class="_nested">
                    <li>Black Tea</li>
                    <li>White Tea</li>
                    <li>
                        <span class="_caret">Green Tea</span>
                        <ul class="_nested">
                            <li>Sencha</li>
                            <li>Gyokuro</li>
                            <li>Matcha</li>
                            <li>Pi Lo Chun</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

TEST TEST TEST ETSTE
@code {
    private ElementReference _nested;
    private ElementReference _caret;
    private ElementReference _name;

    private async Task OpenModal()
    {
        await JS.InvokeVoidAsync("tree", _caret);

    }
}
