@page "/test"

<h3>Test</h3>

<html>
<body>
    <form>
        <label Visible=false ID="lblResult" runat="server" />

        <recaptcha:RecaptchaControl ID="recaptcha"
                                    runat="server"
                                    Theme="red"
                                    PublicKey="6LfEGxIaAAAAAMWQG77K8UmwdaDqPHwNg6fZcmD9"
                                    PrivateKey="6LfEGxIaAAAAAALR_5TKDpowocpyXzvelV52pK5F" />
        <br />
        <button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click" >Test</button>
    </form>
</body>
</html>


@code {

}
